/* .carts-container{
    background-color:var(--bg-color);
    height:100vh;
  } */
  .cart-items-container {
    max-width: 59.3rem;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 1.5rem;
   
  }
  .card-horizontal{
    box-shadow: var(--shadow1);
  }
  .cart-heading {
    text-align: center;
  }
  .cart-item {
    width: calc(60% - 2rem);
  }
  .cart-btn{
  font-size: 0.9rem;
  }
  .cart-summary {
    width: 40%;
    height: fit-content;
    background-color:var(--light-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: -3px -3px 5px rgba(255,255,255, 0.432),3px 3px 5px rgba(1,1,1, 0.432);
  }
  .coupon-btn {
    margin-right: 0;
  }
  .card-horizontal-product-desc {
    margin: 0.4rem 0;
  }
  .card-quantity {
    margin: 1rem 0;
  }
  @media only screen and (max-width: 860px) {
    .cart-items-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .cart-item{
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media only screen and (max-width: 750px) {
    .cart-summary {
      width: 50%;
    }
  }
  @media only screen and (max-width: 450px) {
    .cart-items-container {
      margin: 1rem;
    }
    .card-horizontal-button {
      flex-direction: column;
    }
    .cart-summary {
      width: 80%;
    }
  }
  